{% extends "blog/base.html" %}
{% block top %}

{% endblock %}

{% block mid %}
	<h2>WELCOME TO 2NK SACCO</h2>
	<p>
	2NK SACCO is a transport based Sacco with its headquarters located in Nyeri town.</p>
	<p> The SACCO has gained popularity in various parts of the country for its efficient service transport in ordinary fourteen capacity vans, Executive – shuttles and parcel Delivery.</p>
	<p>The Sacco Vehicles offers daily trips to the capital city Nairobi from major towns among them  Nyeri, Karatina, Nakuru,Eldoret , Thika  and Nanyuki.</p>
{% endblock %}
{% block content %}

	{% for post in posts %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date_posted }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>
	{% endfor %}

{% endblock content %}